.modern-button {
  background-color: #280869;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;

  transition:
    background-color 0.3s ease-in-out,
    transform 0.2s ease-in-out;
}
